__pycache__
.idea
test_cache.pkl
test_cache.sqlite
ai_cache.pkl

# For AWS deployment
/package_hi
/package_get_pull_requests
aws_lambda_hi.zip
aws_lambda_get_pull_requests.zip

# pyenv
.python-version