jira
requests
requests_cache
numpy
ghapi
sentence_transformers
langchain_community
truststore
openai
# maybe needed for streaming
tiktoken
# maybe not needed
pip-system-certs
# for nomic-embed-text-v1 embedding
# einops
